#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/local/bin/tf-network-connector-linux
Name=ThreeFold Planetary Network
Comment=ThreeFold Planetary Network
Icon=/usr/share/icons/tf.ico